<div class="container">

	<div class="ordem-compra">
	
  	<form class="mt-5 mb-5" novalidate>

			<h5 class="text-center">Sua Compra</h5>
			<hr>

      <div class="row justify-content-center">
      
        <div class="col-8 col-md-4">
          <a>
            <div class="card mt-3 mb-3">
              <img class="card-img-top" src="https://user-images.githubusercontent.com/48317736/88994592-2041ef80-d2bf-11ea-9ba2-27f0e29ae76d.png">
              <div class="card-body">
                <p class="card-text">Burguer King</p>
                <h4 class="card-title text-center">Whopper</h4>
                <p class="preco d-flex justify-content-end">R$ 30,00</p>
              	<button type="button " class="btn btn-link shadow-none ">-</button>
							  1
							  <button type="button" class="btn btn-link shadow-none">+</button>
              </div>
            </div>
          </a>
        </div>
      </div>
 

      <h4 class="mt-4 text-center">Total do pedido: 61.80</h4>
				
			<h5 class="mt-5 text-center">Dados de entrega</h5>
			<hr>

			<div class="form-row">
			
        <div class="form-group col-md-6">
        
            <input 
              type="text"
              class="form-control is-invalid"
              placeholder="Endereço" 
              autocomplete="off" 
              minlength="5" 
              required
              [value] = "endereco"  
              #inputEndereco
              (input)="atualizaEndereco(inputEndereco.value)"
            >
        
            <div class="invalid-feedback">
        
              Endereço inválido
        
            </div>
        
        </div>

        <div class="form-group col-md-2">
        
            <input
              type="text" 
              class="form-control is-valid" 
              placeholder="Número" 
              autocomplete="off" 
              minlength="1" 
              required
              [value] = "numero"
              #inputNumero
              (input)="atualizaNumero(inputNumero.value)"
            >
            <small class="form-text text-muted">Ok</small>

        </div>

        <div class="form-group col-md-4">
        
            <input 
              type="text" 
              class="form-control" 
              placeholder="Complemento" 
              autocomplete="off"
              [value] = "complemento"
              #inputComplemento
              (input)="atualizaComplemento(inputComplemento.value)"
        >
        
        </div>

			</div>
							

			<h5 class="text-center">Dados de pagamento</h5>
			<hr>

			<div class="form-row justify-content-center">

				<div class="form-group col-md-3">
					
          <select class="form-control is-invalid"
            #selectFormaPagamento
            (change)="atualizaFormaPagamento(selectFormaPagamento.value)"
          >
    
            <option value="">Selecione uma opção</option>
            <option value="dinheiro" selected="{{ formaDePagamento == 'dinheiro'?'selected':''}}">Dinheiro</option>
            <option value="debito" selected="{{ formaDePagamento == 'debito'?'selected':''}}">Débito</option>
         
          </select>

				  <div class="invalid-feedback">Selecione uma forma de pagamento</div>
				
        </div>
		
      </div>

		  <hr>
		
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg shadow-none rounded-pill">Cofirmar compra</button>
      </div>
          
	  </form>
	
  </div>

</div>