.card{
    border-radius: 20px;
}

.card-img-top{
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-link{
    text-decoration: none;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

select.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid green;
}

select.ng-valid.ng-touched{
  border: 1px solid green;
}

