<div class="container">
  
  <!-- 
    
    Essa condiçaõ é necessária para que não ocorra um erro quando o angular renderizar o componente ofertas. Esse erro ocorre porque quando a primeira renderização é feita, a promessa ainda não foi resolvida, logo, uma mensagem de erro é emitida antes da promessa retornar a oferta 
    
  -->

  <div class="oferta" *ngIf="oferta !== undefined">

      
    <div class="secao text-center">
        <h4>{{oferta.empresa}}</h4>
        <h5>{{oferta.produto}}</h5>
    </div>

    <div class="row mt-5 mb-5">

      <div class="col-md-6 d-flex justify-content-center text-center">

        <div>
        
          <img [src]="oferta.imagens[0].url">
        
          <div class="thumbnails">
            <img *ngFor = "let imagem of oferta.imagens" [src]="imagem.url" class="mb-2">
        
          </div>
          
        </div>

      </div>

      <div class="col-md-6 mt-5 mt-md-0 mb-5 d-flex align-items-center justify-content-center text-center">

        <div>
            <p>Por apenas</p>
            <h1> {{oferta.valor | currency: 'BRL': true}} </h1>
            <button 
              type="button" 
              class="btn btn-outline-primary btn-lg shadow-none rounded-pill"
              (click)="adicionarItemCarrinho()">Adicionar ao carrinho</button>
        </div>

      </div>
    
    </div>

    <ul class="nav nav-tabs">

          <li class="nav-item">
            <a class="nav-link active" routerLink="como-usar" data-toggle="tab">Como usar?</a>
          </li>
          <li class="nav-item">
           <a class="nav-link active" routerLink="onde-fica" data-toggle="tab" href="#onde-fica">Onde fica?</a>
          </li>
      
      </ul>

      <div class="tab-content text-center">

            <router-outlet></router-outlet> 

      </div>
      
  </div>