p{
  margin-bottom: 0;
}

.oferta {
    margin-top: 25px
}

img {
    width: 391px;
    height: 240px;
    border-radius: 15px
}

.thumbnails {
    margin-top: 10px;
}

.thumbnails img {
    width: 124px;
    height: 80px;
    margin-right: 5px;
}

.secao {
    margin-top: 30px;
    margin-bottom: 30px;
}

.secao::after {
  content: "";
  display: block;
  border-bottom: 2px solid #f60; 
  width: 220px;
  margin: auto ;
}
