<div class="container mb-4">

	<div class="secao text-center">
		<h3>Cinema, viagens, diversão muito e mais!</h3>
		<h5 class="pb-2">Conheça as melhores ofertas para você se divertir quando quiser:</h5>
	</div>

	<hr>

	<div class="row d-flex justify-content-center">

		<div class="col-8 col-md-4" *ngFor="let oferta of ofertas">
			<a [routerLink]="['/oferta', oferta.id]">
				<div class="card mt-3 mb-3">
					<img class="card-img-top" [src]="oferta.imagens[0].url">
					<div class="card-body">
						<p class="card-text">{{oferta.titulo}}</p>
						<h4 class="card-title text-center">{{oferta.descricao}}</h4>
						<p class="preco d-flex justify-content-end"> {{oferta.valor | currency: 'BRL': true}}</p>
					</div>
				</div>
			</a>
		</div>

	</div>

	<hr>

</div>

