
<div class="sticky-top">

  <nav class="navbar">
    
    <div class="container">
  
      <a href="#" class="navbar-brand">
          <img src="https://user-images.githubusercontent.com/48317736/88994578-18824b00-d2bf-11ea-99df-2d05a2c9f012.png" />
      </a>
  

      <a href="#"><img src="https://user-images.githubusercontent.com/48317736/88994584-1cae6880-d2bf-11ea-8a89-221013172e67.png" /></a>
    
    </div>

  </nav>

  <div class="menu">
    
    <div class="container">

      <ul class="nav">
        <li >

          <a class="nav-link" routerLink="/restaurantes">Restaurantes
            
          </a>
          
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/diversao']">Diversão</a>
        </li>
      </ul>
    
    </div>
  </div>
</div>

<div class="container">

  <a href="#">
    
      <div class="banner row d-flex align-items-center">
        
        <div class="col">

          <div class="row">
       
            <div class="col text-center">
              
              <p class="title">Fome + sua casa = ❤ </p>
       
            </div>

          </div>

          <div class="row">
          
            <div class="col text-center">

              <p class="sub-title"> Opções com Delivery ou Retirada! </p>
       
            </div>
          
          </div>
        
        </div>
  
      </div>

  </a>

</div>







