
.navbar{
  height: 75px; 
  background: #006ACB;
}

.nav-link{
  padding: 12px 7px;
  font: 14px sans-serif;
  color: #444444;
  height: 40px;
}


.nav-link:hover{
  background:#eee;
}


.menu {
  background: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color | inset | offset-x | offset-y | blur-radius | spread-radius |color */

  /* inset: Altera a sombra de uma sombra externa (inicial) para uma sombra interna */

  box-shadow: 0 1px 3px 0px rgba(0,0,0,.1), inset 0 -1px 0 0 #ddd;
}


a:hover{
  text-decoration: none;
}
