<div class="sticky-top">

  <nav class="navbar">
    
    <div class="container">

      <div class="d-flex col-12 pl-0 pr-0"> 

          <a routerLink="/" class="mr-1">
              <img src="https://user-images.githubusercontent.com/48317736/88994578-18824b00-d2bf-11ea-99df-2d05a2c9f012.png">
          </a>
        
          <i class="fa fa-search" style="color: #006acb; position: absolute; left: 125px; margin-top: 18px"></i>
          <input class="form-control rounded-pill border-0 shadow-none mt-2 pl-5" placeholder="Buscar ofertas">
          
          <a href="#" class="mt-2">
            <img src="https://user-images.githubusercontent.com/48317736/88994584-1cae6880-d2bf-11ea-8a89-221013172e67.png">
          </a>

      </div>
    </div>

  </nav>

  <div class="menu">
    
    <div class="container">

      <ul class="nav">
        <li >

          <a class="nav-link" routerLink="/restaurantes" routerLinkActive="bd-orange">Restaurantes
            
          </a>
          
        </li>
        <li>

          <a class="nav-link" routerLink="/diversao" routerLinkActive="bd-orange" >Diversão</a>
       
        </li>
      </ul>
    
    </div>
  </div>
</div>

<div class="container">

  <a href="#">
    
      <div class="banner row d-flex align-items-center">
        
        <div class="col">

          <div class="row">
       
            <div class="col text-center">
              
              <p class="title">Fome + sua casa = ❤ </p>
                   
            </div>

          </div>

          <div class="row">
          
            <div class="col text-center">

              <p class="sub-title"> Opções com Delivery ou Retirada! </p>
       
            </div>
          
          </div>
        
        </div>
  
      </div>

  </a>

</div>







