
.navbar{
  height: 75px; 
  background: #006ACB;
}

.nav-link{
  padding: 12px 7px;
  font: 14px sans-serif;
  color: #444444;
  height: 40px;
}


.nav-link:hover{
  background:#eee;
}


.menu {
  background: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color | inset | offset-x | offset-y | blur-radius | spread-radius |color */

  /* inset: Altera a sombra de uma sombra externa (inicial) para uma sombra interna */

  box-shadow: 0 1px 3px 0px rgba(0,0,0,.1), inset 0 -1px 0 0 #ddd;
}


.banner{
  background-image: url('https://user-images.githubusercontent.com/48317736/105457005-e7c71100-5c64-11eb-9b3e-bc39e350eb09.jpg');
  background-position: center;
  background-size: 100% 400px;

  height: 140px;
  
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  color: white;
  margin-bottom: 0px;  
  text-shadow: 1px 1px black;
}

.title{
  font-size: 29px; 
  margin-bottom: 0;
}

.sub-title{
  font-size: 19px; 
  margin-bottom: 0;
}

p{
  color: white;
}