body{
  font-family: sans-serif;
}


h3 {
  color: #555;
  font-size: 24px;
}


h4 {
  color:#555;
}


h5 {
  color:#999;
  font-size: 16px;
}

.bd-orange{
  border-bottom: 3px solid #f60; 
}



/* diversão, restaurante, home e oferta*/

a{
    color: #212529;
}

a:hover{
    text-decoration: none;
}

p{
    color:#999
}

.card{
    border-radius: 20px;
}

.card-img-top{
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.secao {
    margin-top: 30px;
    margin-bottom: 30px;
}

.preco {
    color: #f60;
    font-weight: bold;
    font-size: 20px
}

.secao::after {
  content: "";
  display: block;
  border-bottom: 2px solid #f60; 
  width: 220px;
  margin: auto ;
}







