<div class="container mb-4">

  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="bd-orange text-center pb-4">Aproveite as super ofertas que separamos para você</h5>
  </div>

  <hr>

  <div class="row d-flex justify-content-center">
    
    <div class="col-8 col-md-4">
      <a href="#">
        <div class="card mb-3 mb-md-0">
          <img class="card-img-top" src="https://user-images.githubusercontent.com/48317736/88994592-2041ef80-d2bf-11ea-9ba2-27f0e29ae76d.png">
          <div class="card-body">
            <p class="card-text">Burguer King</p>
            <h4 class="card-title text-center">Whopper Furioso</h4>
            <p class="preco d-flex justify-content-end">R$ 15,90</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-8 col-md-4 mb-md-0">
      <a href="#">
        <div class="card mb-3 mb-md-0">
          <img class="card-img-top" src="https://user-images.githubusercontent.com/48317736/88994589-1f10c280-d2bf-11ea-9b19-164f3fece38a.jpg">
          <div class="card-body">
            <p class="card-text">Subway</p>
            <h4 class="card-title text-center">Carne Supreme</h4>
            <p class="preco d-flex justify-content-end">R$ 11,90</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-8 col-md-4">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="https://user-images.githubusercontent.com/48317736/88994586-1ddf9580-d2bf-11ea-8bd0-070d0bb27dac.jpg">
          <div class="card-body">
            <p class="card-text">Pizza Hut</p>
            <h4 class="card-title text-center">Pizza de calabresa</h4>
            <p class="preco d-flex justify-content-end">R$ 39,90</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <hr>

</div>
